{% load django_browser_reload %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <div class="App">
        <header class="App-header">
            <img src="{% static 'Octocat.png' %}" class="App-logo" alt="logo" />
            <p>
                GitHub Codespaces <span class="heart">♥️</span> Django
            </p>
            <p class="small">
                Edit <code>hello_world/templates/index.html</code> and see changes live!
            </p>
        </header>
    </div>
</body>

<body>
    <div clas="Personal">
        <header class="Personal-header">
            <p>
                <uli>
                    - Item one
                    - Item two
                </uli>
                <li>
                    - Item two
                    - Item one
                </li>
                Right now I am trying to see if this is actually going to work like how I intend it to.
            </p>
        </header>
    </div>

</body> 

</html>
